USE [SQPMS_DB]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NULL,
	[ContactPerson] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[PaymentTerms] [varchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[Item] [nvarchar](100) NULL,
	[Color] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Customize] [nvarchar](255) NULL,
	[Design] [nvarchar](255) NULL,
	[Cost] [decimal](18, 2) NULL,
	[Qty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHeaders]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeaders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NULL,
	[Item] [varchar](255) NULL,
	[Color] [varchar](50) NULL,
	[Size] [varchar](50) NULL,
	[Customize] [varchar](255) NULL,
	[Cost] [varchar](255) NULL,
	[Design] [varchar](255) NULL,
	[ClientID] [int] NULL,
	[Qty] [int] NULL,
	[QuotationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentHistory]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentID] [int] NULL,
	[OrderID] [int] NULL,
	[OldAmount] [decimal](18, 2) NULL,
	[NewAmount] [decimal](18, 2) NULL,
	[ModifiedDate] [datetime] NULL,
	[ActionType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[DueDate] [date] NULL,
	[Status] [varchar](50) NULL,
	[DateRecorded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production](
	[ProductionID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[Quantity] [int] NULL,
	[Status] [varchar](50) NULL,
	[Deadline] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[MaterialCost] [decimal](18, 2) NOT NULL,
	[DateCreated] [datetime] NULL,
	[StandardColor] [nvarchar](50) NULL,
	[StandardSize] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotations]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotations](
	[QuotationID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[ProjectName] [varchar](100) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[Status] [varchar](50) NULL,
	[DateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuotationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/06/2026 1:41:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [CompanyName], [ContactPerson], [Email], [Phone], [PaymentTerms], [Status]) VALUES (5, N'Bee', N'Kurt Edrian Delos Santos', N'delossantos18123@gmail.com', N'', N'0', N'Active')
INSERT [dbo].[Clients] ([ClientID], [CompanyName], [ContactPerson], [Email], [Phone], [PaymentTerms], [Status]) VALUES (9, N'Karl', N'Kurt Edrian Delos Santos', N'delossantos18123@gmail.com', N'', N'0', N'Inactive')
INSERT [dbo].[Clients] ([ClientID], [CompanyName], [ContactPerson], [Email], [Phone], [PaymentTerms], [Status]) VALUES (10, N'Test', N'Kurt Edrian Delos Santos', N'delossantos18123@gmail.com', N'2324324243', N'10', N'Active')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([DetailID], [OrderID], [Item], [Color], [Size], [Customize], [Design], [Cost], [Qty]) VALUES (1, 1, N'Shirt', N'Red', N'Medium', N'wqeqwewqewqe', N'ughqwiudgqwgeiq', CAST(1234.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDetails] ([DetailID], [OrderID], [Item], [Color], [Size], [Customize], [Design], [Cost], [Qty]) VALUES (2, 1, N'Shoes', N'Blue', N'Laarge', N'wqeqwewqewqe', N'ughqwiudgqwgeiq', CAST(987.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDetails] ([DetailID], [OrderID], [Item], [Color], [Size], [Customize], [Design], [Cost], [Qty]) VALUES (3, 2, N'Jeans', N'Red', N'Medium', N'wqeqwewqewqe', N'ughqwiudgqwgeiq', CAST(1234.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderHeaders] ON 

INSERT [dbo].[OrderHeaders] ([OrderID], [ClientID], [Status], [DateCreated]) VALUES (1, 5, N'Pending', CAST(N'2026-05-22T21:41:17.487' AS DateTime))
INSERT [dbo].[OrderHeaders] ([OrderID], [ClientID], [Status], [DateCreated]) VALUES (2, 5, N'Pending', CAST(N'2026-05-22T21:44:29.200' AS DateTime))
INSERT [dbo].[OrderHeaders] ([OrderID], [ClientID], [Status], [DateCreated]) VALUES (3, 9, N'Pending', CAST(N'2026-05-22T21:49:17.080' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderHeaders] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [Status], [Item], [Color], [Size], [Customize], [Cost], [Design], [ClientID], [Qty], [QuotationID]) VALUES (6, N'Pending', N'Shirt', N'Red', N'Medium', N'wqeqwewqewqe', N'2323', N'ughqwiudgqwgeiq', NULL, 1, NULL)
INSERT [dbo].[Orders] ([OrderID], [Status], [Item], [Color], [Size], [Customize], [Cost], [Design], [ClientID], [Qty], [QuotationID]) VALUES (7, N'Pending', N'Jeans', N'Blue', N'Laarge', N'wqeqwewqewqe', N'1567', N'ughqwiudgqwgeiq', NULL, 1, NULL)
INSERT [dbo].[Orders] ([OrderID], [Status], [Item], [Color], [Size], [Customize], [Cost], [Design], [ClientID], [Qty], [QuotationID]) VALUES (8, N'Pending', N'Shoes', N'Blue', N'Laarge', N'wqeqwewqewqe', N'12324', N'ughqwiudgqwgeiq', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentHistory] ON 

INSERT [dbo].[PaymentHistory] ([HistoryID], [PaymentID], [OrderID], [OldAmount], [NewAmount], [ModifiedDate], [ActionType]) VALUES (1, 1008, NULL, CAST(1284.00 AS Decimal(18, 2)), NULL, CAST(N'2026-06-02T21:59:53.447' AS DateTime), N'DELETE')
INSERT [dbo].[PaymentHistory] ([HistoryID], [PaymentID], [OrderID], [OldAmount], [NewAmount], [ModifiedDate], [ActionType]) VALUES (2, 7, NULL, CAST(123.00 AS Decimal(18, 2)), NULL, CAST(N'2026-06-02T22:22:10.477' AS DateTime), N'DELETE')
INSERT [dbo].[PaymentHistory] ([HistoryID], [PaymentID], [OrderID], [OldAmount], [NewAmount], [ModifiedDate], [ActionType]) VALUES (3, 1023, NULL, CAST(1234.00 AS Decimal(18, 2)), NULL, CAST(N'2026-06-07T18:38:47.037' AS DateTime), N'DELETE')
SET IDENTITY_INSERT [dbo].[PaymentHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [OrderID], [Amount], [DueDate], [Status], [DateRecorded]) VALUES (6, 17, CAST(2468.00 AS Decimal(10, 2)), CAST(N'2026-05-24' AS Date), N'Paid', NULL)
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [Amount], [DueDate], [Status], [DateRecorded]) VALUES (8, 18, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2026-05-26' AS Date), N'Partially Paid', NULL)
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [Amount], [DueDate], [Status], [DateRecorded]) VALUES (1009, 18, CAST(234.00 AS Decimal(10, 2)), CAST(N'2026-06-02' AS Date), N'Paid', NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Production] ON 

INSERT [dbo].[Production] ([ProductionID], [OrderID], [Quantity], [Status], [Deadline]) VALUES (6, 17, 2, N'Completed', CAST(N'2026-05-24' AS Date))
INSERT [dbo].[Production] ([ProductionID], [OrderID], [Quantity], [Status], [Deadline]) VALUES (7, 19, 1, N'In Progress', CAST(N'2026-05-27' AS Date))
SET IDENTITY_INSERT [dbo].[Production] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [UnitPrice], [MaterialCost], [DateCreated], [StandardColor], [StandardSize]) VALUES (9, N'Shoes', CAST(1234.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-05-23T19:33:25.663' AS DateTime), N'Black, White, Red', N'14, 13, 12')
INSERT [dbo].[Products] ([ProductID], [ProductName], [UnitPrice], [MaterialCost], [DateCreated], [StandardColor], [StandardSize]) VALUES (10, N'Shirts', CAST(1234.00 AS Decimal(18, 2)), CAST(123.00 AS Decimal(18, 2)), CAST(N'2026-05-30T13:45:23.060' AS DateTime), N'Black, White, Red', N'14, 13, 12')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotations] ON 

INSERT [dbo].[Quotations] ([QuotationID], [ClientID], [ProjectName], [TotalAmount], [Status], [DateCreated]) VALUES (10, 5, N'Project', NULL, N'Rejected', CAST(N'2026-05-23T20:52:58.170' AS DateTime))
INSERT [dbo].[Quotations] ([QuotationID], [ClientID], [ProjectName], [TotalAmount], [Status], [DateCreated]) VALUES (11, 10, N'Project', NULL, N'Pending', CAST(N'2026-05-27T00:05:18.683' AS DateTime))
INSERT [dbo].[Quotations] ([QuotationID], [ClientID], [ProjectName], [TotalAmount], [Status], [DateCreated]) VALUES (12, 11, N'Project', NULL, N'Approved', CAST(N'2026-05-27T00:06:59.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[Quotations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (1, N'admin', N'123', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (2, N'sales', N'sales123', N'sales')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (3, N'operation', N'operation123', N'operation')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderHeaders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[OrderHeaders] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[PaymentHistory] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [DateRecorded]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Quotations] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrderHeaders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [FK_Production_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [FK_Production_Orders]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
